// =========about  all section  style are here==============
.contact__three__section{
    .contact__section__wrapper{
        background: $black;
        overflow: hidden;
    }
    .main__content{
        background: $white;
        padding: 50px;
        display: inline-block;
        border-radius: 10px;
    }
    .map__indicator{
        top: 36%;
        right: 22.01%;
        font-size: 44px;
        a{
            color: $theme-color;
        }
        @media #{$max-xl} {
            display: none;
        }
    }
    .map__01{
        right: 0;
        top: 30px;
        z-index: -1;
        @media #{$max-lg} {
            display: none;
        }
    }
    .contact__info{
        b{
            font-size: 20px;
            opacity: 0.9;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            opacity: 0.9;
            margin-top: 10px;
        }
    }
    .ht_btn{
        text-transform: capitalize;
        border-radius: 10px;
    }
}

//subscribe__form
.get__in__touch{
    background: rgba($color: #fee0e5, $alpha: 1.0);
    padding: 50px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    h5{
        font-size: 24px;
        font-weight: 700;
        line-height: 60px;
    }
    .single__info__box{
        position: relative;
        .contact__01{
            position: absolute;
            top: -3.5rem;
            left: 7.8rem;
        }
    }
    .icon{
        position: relative;
        width: 77px;
        height: 77px;
        border: 5px solid;
        display: inline-block;
        background: $black;
        border-radius: 50%;
        color: $white;
        text-align: center;
        line-height:70px;
        font-size: 25px;
        margin-right:30px;
        z-index:2;
        @include transition(0.3s);
        &:hover{
            background: $theme-color;
        }
    }
    span{
        font-size: 20px;
        line-height: 30px;
        color: $black;
    }
}
.subscribe__form {
    z-index: 1;

    input {
        color: rgba($color: $black, $alpha: 0.5);
        font-size: 16px !important;
        font-weight: 500;
        line-height: 1;
        height: 70px;
        width: 100%;
        max-width: 555px;
        padding: 23px;
        border-radius: 3px;
        border: 1px solid #000;
        background: $white;
        display: inline-block;
        &::-moz-placeholder {
        font-family:$body-fonts!important;
        color: rgba($color: $black, $alpha: 0.5);
        font-size: 16px!important;
        }
        &::-o-placeholder {
        font-family:$body-fonts!important;
        color: rgba($color: $black, $alpha: 0.5);
        font-size: 16px!important;
        }
        &::-ms-placeholder {
        font-family:$body-fonts!important;
        color: rgba($color: $black, $alpha: 0.5);
        font-size: 16px!important;
        }
        &::-webkit-placeholder {
        font-family:$body-fonts!important;
        color: rgba($color: $black, $alpha: 0.5);
        font-size: 16px!important;
        }
        &::placeholder {
        font-family:$body-fonts!important;
        color: rgba($color: $black, $alpha: 0.5);
        font-size: 16px!important;
        }
        @media #{$max-md} {
            max-width: 100%;
        }
    }
    .submit-btn {
        background:$theme-color;
        color: white;
        font-weight: 700;
        position: absolute;
        top: 1px;
        right: -9px;
        border: 0;
        padding: 0 25px;
        border-radius: 3px;
        line-height: 70px;
        display: inline-block;
        height: 68px;
        &::before{
            background:$black;
        }
    }
}
//submit__form
.submit__form {
    padding: 40px;
    .input__box {
        label {
            color: $white;
            font-size: 18px;
            display: inline-block;
            margin-bottom: 15px;
        }
        input {
            color: rgba(255, 255, 255, 0.3);
            font-size: 16px;
            font-weight: 400;
            display: block;
            background: transparent;
            border: 0;
            border-bottom: 2px solid rgba(255, 255, 255, 0.2);
            height: 60px;
            width: 100%;
            &::placeholder {
                color: rgba(255, 255, 255, 0.3);
                font-size: 16px;
            }
        }
    }
    .input__check {
        label {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            margin-top: 3px;
            margin-left: 7px;
        }
        .form-check-input {
            background: transparent;
            border: 2px solid rgba(255, 255, 255, 0.2);
            border-radius: 0px;
            width: 30px;
            height: 30px;
            line-height: 30;
            &:focus {
                box-shadow: none;
            }
            &:checked {
                background: $theme-color;
            }
        }
    }
    @media #{$max-md} {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$max-xs} {
        padding-left: 15px;
        padding-right: 15px;
    }
}

//form__title__one
.form__title__one {
    color: $white;
    font-size: 32px;
    @media #{$max-lg} {
        font-size: 26px;
    }
    @media #{$max-md} {
        font-size: 24px;
    }
}

//cta__wrapper__one
.cta__wrapper__one {
    position: relative;
    z-index: 5;
    margin-bottom: -140px;
    .pattern__1 {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .pattern__2 {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
    }

    .pattern__3 {
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 48%;
    }

    .pattern__4 {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 35%;
    }
    @media #{$max-lg} {
        margin-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

//shipping__section
.shipping__section {
    position: relative;
    z-index: 5;
    margin-bottom: -390px;
    @media #{$max-lg} {
        margin-bottom: 100px;
    }
}

//shpping__form__wrapper__bg
.shpping__form__wrapper__bg {
    border: 2px solid rgba(#181818, 0.02);
    border-radius: 24px;

    .btn__section {
        list-style: none;
        padding: 0;
        margin: 0;
        .ht_btn {
            border-radius: 30px;
            text-transform: capitalize;
        }
    }

    .form__title__one {
        color: $heding;
    }
    .submit__form {
        .input__box {
            label {
                color: $heding;
            }
            input {
                color: rgba(#181818, 0.3);
                border-bottom: 2px solid rgba(#181818, 0.3);
                &::placeholder {
                    color: rgba(#181818, 0.3);
                }
                &::-moz-placeholder {
                    color: rgba(#181818, 0.3);
                }
                &::-ms-placeholder {
                    color: rgba(#181818, 0.3);
                }
                &::-webkit-placeholder {
                    color: rgba(#181818, 0.3);
                }
                &::-o-placeholder {
                    color: rgba(#181818, 0.3);
                }
            }
        }
        .input__check {
            .form-check-input {
                border-color: rgba(#181818, 0.2);
            }
            label {
                color: $heding;
            }
        }
        button {
            text-transform: capitalize;
            border-radius: 5px;
        }
    }
    .shipping__right__section {
        img {
            border-radius: 0 24px 24px 0;
        }
        .img-small-2 {
            border-radius: 24px;
        }
    }
}

//address__wrapper
.address__wrapper {
    background-color: $grey;
    padding: 40px 10px 15px 10px;
    @include transition(0.3s);
    .address__icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: rgba(232, 17, 43, 0.1);
        text-align: center;
        line-height: 80px;
        margin: 0 auto;
        margin-bottom: 25px;
        @include transition(0.3s);
        .front_icon {
            @include transition(0.3s);
        }
        .back_icon {
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            display: none;
            @include transition(0.3s);
        }
    }
    .address__title {
        font-size: 24px;
        @media #{$max-lg} {
            font-size: 20px;
        }
    }
    p {
        font-size: 20px;
        color: $heding;
        @media #{$max-lg} {
            font-size: 18px;
        }
    }
    @media #{$max-lg} {
        padding-left: 0;
        padding-right: 0;
    }
    @media #{$max-md} {
        padding-left: 15px;
        padding-right: 15px;
    }
    &:hover {
        background: $white;
        box-shadow: 5px 15px 40px 0px rgba(24, 24, 24, 0.05);
        .address__icon {
            background: $theme-color;
            .front_icon {
                visibility: hidden;
                opacity: 0;
                transform: scale(0);
                display: none;
            }
            .back_icon {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
                display: inline-block;
            }
        }
    }
}

//contact__info__section
.contact__info__section {
    //single__info__box
    .single__info__box {
        background: $grey;
        text-align: center;
        padding: 33px 0 32px 0;
        @include transition(0.3s);
        .icon {
            color: $theme-color;
            font-size: 35px;
            background: rgba($theme-color, 0.1);
            width: 80px;
            height: 80px;
            display: inline-block;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
            line-height: 84px;
            margin-bottom: 20px;
            @include transition(0.3s);
        }
        span {
            color: $heding;
            font-size: 24px;
            font-family: $body-fonts;
            font-weight: 500;
            display: block;
            line-height: 30px;
        }
        &:hover {
            border-radius: 12px;
            background: $white;
            box-shadow: 5px 15px 40px 0px rgba(24, 24, 24, 0.05);
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
            .icon {
                color: $white;
                background: $theme-color;
            }
        }
        @media #{$lg} {
            span {
                font-size: 20px;
            }
        }
        @media #{$xs} {
            span {
                font-size: 18px;
            }
        }
    }
}

//main__contact__form
.main__contact__form {
    .ht_btn{
        display: block;
        background: $green;
    }
    .widget-form {
        padding: 0;
        input,
        textarea {
            border: 1px solid rgba($color: #1B212F, $alpha: 0.1);
            border-radius: 5px;
            background: $white;
            color: $body-text-color;
            font-size:18px;
            display: block;
            height: 50px;
            width: 100%;
            padding-left: 20px;
            margin-bottom: 23px;
            &::placeholder {
                color: $body-text-color;
                font-size: 18px;
            }
            &::-moz-placeholder {
                color: $body-text-color;
                font-size: 18px;
            }
            &::-ms-placeholder {
                color: $body-text-color;
                font-size: 18px;
            }
            &::-webkit-placeholder {
                color: $body-text-color;
                font-size: 18px;
            }
            &::-o-placeholder {
                color: $body-text-color;
                font-size: 18px;
            }
        }
        textarea {
            height: 160px;
        }
    }
}

//contact__form__title
.contact__form__title {
    font-size: 36px;
    @media #{$max-lg} {
        font-size: 28px;
    }
    @media #{$max-md} {
        font-size: 20px;
    }
}

//contact__map
.contact__map {
    iframe {
        width: 100%;
        height: 743px;
        @media #{$max-lg} {
            height: 450px;
        }
    }
}

// contact__main__pag
.contact__main__page{
    .three__section__sub__title {
        font-size: 18px;
        color: $theme-color;
        &::after {
            position: absolute;
            content: '';
            width: 25px;
            height: 1px;
            background: $theme-color;
            bottom: 10px;
            right: -34px;
        }
    }
    h3{
        font-size: 50px;
        font-weight: 500;
        @media #{$max-xl} {
            font-size: 45px;
        }
        @media #{$max-lg} {
            font-size: 40px;
        }
        @media #{$max-md} {
            font-size: 35px;
        }
    }
    .contact__left__form {
        &::before{
            position: absolute;
            content: '';
            width: 900px;
            height: 852px;
            background: #FEF7F3;
            left: -50%;
            bottom: -10.5%;
            z-index: -1;
            @media #{$max-xxl} {
                display: none;
            }
        }
    }
    .widget-form{
        input,textarea{
            font-size: 18px;
            border-bottom: 1px solid $black;
        }
        input:focus,textarea:focus{
            border: 1px solid $black;
        }
    }
    .devider__line{
        z-index: -2;
        @media #{$max-xxl} {
            display: none;
        }
    }
    .contact__content{
        .contact__address{
            .icon{
                @media #{$max-md} {
                    display: none;
                }  
            }
        }
    }
}