
// ============about  all section  style are here===========
.counter__section{
    .banner__main__title{
        font-style: italic;
        font-weight: 400;
        text-transform: lowercase;
    }
}